# Adapted from https://nbsoftsolutions.com/blog/azure-pipelines-for-rust-projects

pr:
  - master
  - releases/*

stages:
  - stage: build_platforms
    jobs:
      - job: matrix
        strategy:
          matrix:
            linux:
              vmImage: "ubuntu-latest"
              target: 'x86_64-unknown-linux-gnu'
              rustup_toolchain: stable
            mac:
              vmImage: "macOS-latest"
              target: 'aarch64-apple-darwin'
              rustup_toolchain: stable
          maxParallel: 2
        pool:
          vmImage: $(vmImage)
        timeoutInMinutes: 5
        steps:
          - script: |
              curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain $RUSTUP_TOOLCHAIN
              echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
            displayName: Install rust
          - script: cargo build --all --release
            displayName: Cargo build
  - stage: qualify
    jobs:
      - job: Test
        pool:
          vmImage: 'ubuntu-latest'
        container: 'rust:latest'
        timeoutInMinutes: 5
        steps:
          - script: cargo build --all
            displayName: Cargo build
          - script: cargo test --all
            displayName: Cargo test
      - job: Clippy
        pool:
          vmImage: 'ubuntu-latest'
        container: 'rust:latest'
        steps:
          - script: rustup component add clippy
            displayName: Install Clippy
          - script: cargo clippy --all
            displayName: Run clippy
      - job: Fmt
        pool:
          vmImage: 'ubuntu-latest'
        container: 'rust:latest'
        condition: in(variables['Build.Reason'], 'BatchedCI', 'IndividualCI', 'Manual', 'PullRequest')
        steps:
          - script: rustup component add rustfmt
            displayName: Install Rustfmt
          - script: cargo fmt --all -- --check
            displayName: Run Rustfmt
  - stage: release
    jobs:
      - job: Noop
        pool:
          vmImage: 'ubuntu-latest'
        container: 'rust:latest'
        timeoutInMinutes: 2
        steps:
          - script: echo "TBD"
